*{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--p-surface-ground);
    color: var(--p-surface-content);
}

.w-full {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.p-component:disabled {
    cursor: not-allowed!important;
}

/* Margin utilities */
.m-0 { margin: 0!important; }
.m-1 { margin: 0.25em!important; }
.m-2 { margin: 0.5em!important; }
.m-3 { margin: 0.75em!important; }
.m-4 { margin: 1em!important; }
.m-5 { margin: 1.25em!important; }
.m-auto{ margin: auto!important; }

.mx-0 { margin-left: 0!important; margin-right: 0!important; }
.mx-1 { margin-left: 0.25em!important; margin-right: 0.25em!important; }
.mx-2 { margin-left: 0.5em!important; margin-right: 0.5em!important; }
.mx-3 { margin-left: 0.75em!important; margin-right: 0.75em!important; }
.mx-4 { margin-left: 1em!important; margin-right: 1em!important; }
.mx-5 { margin-left: 1.25em!important; margin-right: 1.25em!important; }
.mx-auto { margin-left: auto!important; margin-right: auto!important; }

.my-0 { margin-top: 0!important; margin-bottom: 0!important; }
.my-1 { margin-top: 0.25em!important; margin-bottom: 0.25em!important; }
.my-2 { margin-top: 0.5em!important; margin-bottom: 0.5em!important; }
.my-3 { margin-top: 0.75em!important; margin-bottom: 0.75em!important; }
.my-4 { margin-top: 1em!important; margin-bottom: 1em!important; }
.my-5 { margin-top: 1.25em!important; margin-bottom: 1.25em!important; }
.my-auto { margin-top: auto!important; margin-bottom: auto!important; }

.mt-0 { margin-top: 0!important; }
.mt-1 { margin-top: 0.25em!important; }
.mt-2 { margin-top: 0.5em!important; }
.mt-3 { margin-top: 0.75em!important; }
.mt-4 { margin-top: 1em!important; }
.mt-5 { margin-top: 1.25em!important; }
.mt-auto { margin-top: auto!important; }

.mb-0 { margin-bottom: 0!important; }
.mb-1 { margin-bottom: 0.25em!important; }
.mb-2 { margin-bottom: 0.5em!important; }
.mb-3 { margin-bottom: 0.75em!important; }
.mb-4 { margin-bottom: 1em!important; }
.mb-5 { margin-bottom: 1.25em!important; }
.mb-auto { margin-bottom: auto!important; }

.ml-0 { margin-left: 0!important; }
.ml-1 { margin-left: 0.25em!important; }
.ml-2 { margin-left: 0.5em!important; }
.ml-3 { margin-left: 0.75em!important; }
.ml-4 { margin-left: 1em!important; }
.ml-5 { margin-left: 1.25em!important; }
.ml-auto { margin-left: auto!important; }

.mr-0 { margin-right: 0!important; }
.mr-1 { margin-right: 0.25em!important; }
.mr-2 { margin-right: 0.5em!important; }
.mr-4 { margin-right: 1em!important; }
.mr-5 { margin-right: 1.25em!important; }
.mr-auto { margin-right: auto!important; }


/* Padding utilities */
.p-0 { padding: 0!important; }
.p-1 { padding: 0.25em!important; }
.p-2 { padding: 0.5em!important; }
.p-3 { padding: 0.75em!important; }
.p-4 { padding: 1em!important; }
.p-5 { padding: 1.25em!important; }

.px-0 { padding-left: 0!important; padding-right: 0!important; }
.px-1 { padding-left: 0.25em!important; padding-right: 0.25em!important; }
.px-2 { padding-left: 0.5em!important; padding-right: 0.5em!important; }
.px-3 { padding-left: 0.75em!important; padding-right: 0.75em!important; }
.px-4 { padding-left: 1em!important; padding-right: 1em!important; }
.px-5 { padding-left: 1.25em!important; padding-right: 1.25em!important; }

.py-0 { padding-top: 0; padding-bottom: 0!important; }
.py-1 { padding-top: 0.25em!important; padding-bottom: 0.25em!important; }
.py-2 { padding-top: 0.5em!important; padding-bottom: 0.5em!important; }
.py-3 { padding-top: 0.75em!important; padding-bottom: 0.75em!important; }
.py-4 { padding-top: 1em!important; padding-bottom: 1em!important; }
.py-5 { padding-top: 1.25em!important; padding-bottom: 1.25em!important; }

.pt-0 { padding-top: 0!important; }
.pt-1 { padding-top: 0.25em!important; }
.pt-2 { padding-top: 0.5em!important; }
.pt-3 { padding-top: 0.75em!important; }
.pt-4 { padding-top: 1em!important; }
.pt-5 { padding-top: 1.25em!important; }

.pb-0 { padding-bottom: 0!important; }
.pb-1 { padding-bottom: 0.25em!important; }
.pb-2 { padding-bottom: 0.5em!important; }
.pb-3 { padding-bottom: 0.75em!important; }
.pb-4 { padding-bottom: 1em!important; }
.pb-5 { padding-bottom: 1.25em!important; }

.pl-0 { padding-left: 0!important; }
.pl-1 { padding-left: 0.25em!important; }
.pl-2 { padding-left: 0.5em!important; }
.pl-3 { padding-left: 0.75em!important; }
.pl-4 { padding-left: 1em!important; }
.pl-5 { padding-left: 1.25em!important; }

.pr-0 { padding-right: 0!important; }
.pr-1 { padding-right: 0.25em!important; }
.pr-2 { padding-right: 0.5em!important; }
.pr-3 { padding-right: 0.75em!important; }
.pr-4 { padding-right: 1em!important; }
.pr-5 { padding-right: 1.25em!important; }

.text-center {
    text-align: center!important;
}

/* Grid system */
.container {
    width: 100%;
    padding-left: 0.75rem!important;
    padding-right: 0.75rem!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.row {
    display: flex!important;
    flex-wrap: wrap!important;
}

.col {
    flex: 1 0 0%!important;
}

.col-1 { flex: 0 0 calc(8.33333%)!important; }
.col-2 { flex: 0 0 calc(16.66667%)!important; }
.col-3 { flex: 0 0 calc(25%)!important; }
.col-4 { flex: 0 0 calc(33.33333%)!important; }
.col-5 { flex: 0 0 calc(41.66667%)!important; }
.col-6 { flex: 0 0 calc(50%)!important; }
.col-7 { flex: 0 0 calc(58.33333%)!important; }
.col-8 { flex: 0 0 calc(66.66667%)!important; }
.col-9 { flex: 0 0 calc(75%)!important; }
.col-10 { flex: 0 0 calc(83.33333%)!important; }
.col-11 { flex: 0 0 calc(91.66667%)!important; }
.col-12 { flex: 0 0 calc(100%)!important; }

.gap-1 { gap: 0.25rem!important; }
.gap-2 { gap: 0.5rem!important; }
.gap-3 { gap: 0.75rem!important; }
.gap-4 { gap: 1rem!important; }
.gap-5 { gap: 1.25rem!important; }