*{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--p-surface-ground);
    color: var(--p-surface-content);
}

.w-full {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.p-component:disabled {
    cursor: not-allowed!important;
}

/* Margin utilities */
.m-0 { margin: 0; }
.m-1 { margin: 0.25em; }
.m-2 { margin: 0.5em; }
.m-3 { margin: 0.75em; }
.m-4 { margin: 1em; }
.m-5 { margin: 1.25em; }
.m-auto{ margin: auto; }

.mx-0 { margin-left: 0; margin-right: 0; }
.mx-1 { margin-left: 0.25em; margin-right: 0.25em; }
.mx-2 { margin-left: 0.5em; margin-right: 0.5em; }
.mx-3 { margin-left: 0.75em; margin-right: 0.75em; }
.mx-4 { margin-left: 1em; margin-right: 1em; }
.mx-5 { margin-left: 1.25em; margin-right: 1.25em; }
.mx-auto { margin-left: auto; margin-right: auto; }

.my-0 { margin-top: 0; margin-bottom: 0; }
.my-1 { margin-top: 0.25em; margin-bottom: 0.25em; }
.my-2 { margin-top: 0.5em; margin-bottom: 0.5em; }
.my-3 { margin-top: 0.75em; margin-bottom: 0.75em; }
.my-4 { margin-top: 1em; margin-bottom: 1em; }
.my-5 { margin-top: 1.25em; margin-bottom: 1.25em; }
.my-auto { margin-top: auto; margin-bottom: auto; }

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 0.25em; }
.mt-2 { margin-top: 0.5em; }
.mt-3 { margin-top: 0.75em; }
.mt-4 { margin-top: 1em; }
.mt-5 { margin-top: 1.25em; }
.mt-auto { margin-top: auto; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 0.25em; }
.mb-2 { margin-bottom: 0.5em; }
.mb-3 { margin-bottom: 0.75em; }
.mb-4 { margin-bottom: 1em; }
.mb-5 { margin-bottom: 1.25em; }
.mb-auto { margin-bottom: auto; }

.ml-0 { margin-left: 0; }
.ml-1 { margin-left: 0.25em; }
.ml-2 { margin-left: 0.5em; }
.ml-3 { margin-left: 0.75em; }
.ml-4 { margin-left: 1em; }
.ml-5 { margin-left: 1.25em; }
.ml-auto { margin-left: auto; }

.mr-0 { margin-right: 0; }
.mr-1 { margin-right: 0.25em; }
.mr-2 { margin-right: 0.5em; }
.mr-4 { margin-right: 1em; }
.mr-5 { margin-right: 1.25em; }
.mr-auto { margin-right: auto; }


/* Padding utilities */
.p-0 { padding: 0; }
.p-1 { padding: 0.25em; }
.p-2 { padding: 0.5em; }
.p-3 { padding: 0.75em; }
.p-4 { padding: 1em; }
.p-5 { padding: 1.25em; }

.px-0 { padding-left: 0; padding-right: 0; }
.px-1 { padding-left: 0.25em; padding-right: 0.25em; }
.px-2 { padding-left: 0.5em; padding-right: 0.5em; }
.px-3 { padding-left: 0.75em; padding-right: 0.75em; }
.px-4 { padding-left: 1em; padding-right: 1em; }
.px-5 { padding-left: 1.25em; padding-right: 1.25em; }

.py-0 { padding-top: 0; padding-bottom: 0; }
.py-1 { padding-top: 0.25em; padding-bottom: 0.25em; }
.py-2 { padding-top: 0.5em; padding-bottom: 0.5em; }
.py-3 { padding-top: 0.75em; padding-bottom: 0.75em; }
.py-4 { padding-top: 1em; padding-bottom: 1em; }
.py-5 { padding-top: 1.25em; padding-bottom: 1.25em; }

.pt-0 { padding-top: 0; }
.pt-1 { padding-top: 0.25em; }
.pt-2 { padding-top: 0.5em; }
.pt-3 { padding-top: 0.75em; }
.pt-4 { padding-top: 1em; }
.pt-5 { padding-top: 1.25em; }

.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: 0.25em; }
.pb-2 { padding-bottom: 0.5em; }
.pb-3 { padding-bottom: 0.75em; }
.pb-4 { padding-bottom: 1em; }
.pb-5 { padding-bottom: 1.25em; }

.pl-0 { padding-left: 0; }
.pl-1 { padding-left: 0.25em; }
.pl-2 { padding-left: 0.5em; }
.pl-3 { padding-left: 0.75em; }
.pl-4 { padding-left: 1em; }
.pl-5 { padding-left: 1.25em; }

.pr-0 { padding-right: 0; }
.pr-1 { padding-right: 0.25em; }
.pr-2 { padding-right: 0.5em; }
.pr-3 { padding-right: 0.75em; }
.pr-4 { padding-right: 1em; }
.pr-5 { padding-right: 1.25em; }


.text-center {
    text-align: center;
}